<style>
    * {
        background-color: lightyellow;
    }
</style>

<h1 style="text-align: center;"><u>Result Page</u></h1>
<div style="margin-left: 30%;margin-top: 10%;">
<% name["Search"].forEach(function(body){%>
    <li>
       <strong><%=body["Title"]%></strong> - <%=body["Year"]%>
    </li>

    <%}) %>

</div>